<div class="col">
    <h1 class="text-light">Runners Crisps Competition</h1>
    <p class="text-light">Welcome to the Runners' Crisps European Cup Final Competition!</p>  
    <p class="text-light">Please fill in the form for a chance to <b>WIN A FREE FOOTBALL</b> or 10% off your next bag of Runners Crisps.</p>     
</div>
<div class="col">
    <form action="./result.php" method="post">
        <fieldset>
                            
            <!-- Text input-->
            <div class="mb-3">
                <label class="control-label text-light" for="name">Full Name</label>  
                <input id="name" name="name" type="text" placeholder="John Smith" class="form-control input-md" required="">
            </div>
        
            <!-- Text input-->
            <div class="mb-3">
                <label class="control-label text-light" for="email">Email Address</label>  
                <input id="email" name="email" type="text" placeholder="johnsmith@gmail.com" class="form-control input-md" required="">
            </div>

            <!-- Text input-->
            <div class="mb-3">
                <label class="control-label text-light" for="address">Address</label>  
                <input id="address" name="address" type="text" placeholder="248 Smithdown Rd, Liverpool L15 5AH" class="form-control input-md" required="">
            </div>
        
            <!-- Text input-->
            <div class="mb-3">
                <label class="control-label text-light" for="packCode">10-digit code</label>  
                <input id="packCode" name="packCode" type="text" placeholder="1223334444" class="form-control input-md" required="">
            </div>
        
            <!-- Text input-->
            <div class="mb-3">
                <label class="control-label text-light" for="bestPlayer">Best Player</label>  
                <input id="bestPlayer" name="bestPlayer" type="text" placeholder="Mohammed Salah" class="form-control input-md" required="">
            </div>
        
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>